.primary-pink-button-wrapper {
  display: contents;
}
 
.primary-pink-button-container {
  display: flex;
  position: relative;
}
 
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
}
 
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.primary-pink-button-wrapper-shik {
  display: contents;
}
 
.primary-pink-button-container1 {
  display: flex;
  position: relative;
}
 
.primary-pink-button-button1 {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
}
 
.primary-pink-button-button1:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-wrapper {
  display: contents;
}
 
.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  justify-content: center;
}
 
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: var(--dl-layout-radius-radius40);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
 
.header-container1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.header-navlink2 {
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
 
.header-navlink3 {
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
 
.header-navlink4 {
  margin-top: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink4:hover {
  color: var(--dl-color-gray-500);
}
 
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-layout-space-unit);
}
 
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink5 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
 
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.header-icon3 {
  width: 24px;
  height: 24px;
}
 
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.header-menu2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.header-navlink6 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink6:hover {
  color: var(--dl-color-gray-500);
}
 
.header-navlink7 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink7:hover {
  color: var(--dl-color-gray-500);
}
 
.header-navlink8 {
  transition: 0.3s;
  text-decoration: none;
}
 
.header-navlink8:hover {
  color: var(--dl-color-gray-500);
}
 
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
 
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu1 {
    display: none;
  }
}
 
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 479px) {
  .header-container3 {
    display: none;
  }
}

.primary-pink-button-wrapper-6r6v {
  display: contents;
}
 
.primary-pink-button-container2 {
  display: flex;
  position: relative;
}
 
.primary-pink-button-button2 {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
}
 
.primary-pink-button-button2:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.outline-gray-button-wrapper {
  display: contents;
}
 
.outline-gray-button-container {
  display: flex;
  position: relative;
}
 
.outline-gray-button-button {
  color: var(--dl-color-secondary-200);
  outlinr: none;
  transition: all .15s ease-in;
  padding-top: var(--dl-layout-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-layout-space-unitandahalfunit);
  padding-bottom: var(--dl-layout-space-triplequarterunit);
}
 
.outline-gray-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.features3-wrapper {
  display: contents;
}
 
.features3-layout253 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.features3-max-width {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
 
.features3-section-title {
  flex: 1;
  align-items: flex-start;
}
 
.features3-content1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.features3-content2 {
  flex: 1;
}
 
.features3-list-item1 {
  align-items: center;
}
 
.features3-content3 {
  align-self: stretch;
}
 
.features3-title11 {
  text-align: center;
}
 
.features3-description11 {
  text-align: center;
}
 
.features3-content4 {
  align-self: stretch;
}
 
.features3-title12 {
  text-align: center;
}
 
.features3-description12 {
  text-align: center;
}
 
.features3-list2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features3-content5 {
  align-self: stretch;
}
 
.features3-title13 {
  text-align: center;
}
 
.features3-description13 {
  text-align: center;
}
 
.features3-content6 {
  align-self: stretch;
}
 
.features3-title14 {
  text-align: center;
}
 
.features3-description14 {
  text-align: center;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.features3root-class-name {
  top: 850px;
  left: 0px;
  position: static;
}
 
@media(max-width: 991px) {
  .features3-layout253 {
    flex-direction: column;
  }
  .features3-max-width {
    gap: 32px;
    flex-direction: column;
  }
  .features3-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features3-actions {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .features3-max-width {
    gap: 24px;
  }
  .features3-actions {
    width: 100%;
  }
  .features3-button1 {
    width: 100%;
  }
  .features3-button2 {
    width: 100%;
  }
  .features3-list1 {
    flex-direction: column;
  }
  .features3-list2 {
    flex-direction: column;
  }
}

.gallery13-wrapper {
  display: contents;
}
 
.gallery13-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery13-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery13-section-title {
  gap: 24px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery13-content {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery13-container1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery13-image1 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.gallery13-container2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery13-image2 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.gallery13-container3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery13-image3 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery13-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery13-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery13-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery13-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 767px) {
  .gallery13-max-width {
    gap: 24px;
  }
}

.testimonial9-wrapper {
  display: contents;
}
 
.testimonial9-max-width {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial9-section-title {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial9-title {
  width: 100%;
  text-align: center;
}
 
.testimonial9-subtitle {
  text-align: center;
}
 
.testimonial9-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
 
.testimonial9-slider-slide1 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column1 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial9-text10 {
  height: auto;
}
 
.testimonial9-avatar1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text11 {
  font-weight: 600;
}
 
.testimonial9-text12 {
  height: auto;
}
 
.testimonial9-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial9-text13 {
  height: auto;
}
 
.testimonial9-avatar2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text14 {
  font-weight: 600;
}
 
.testimonial9-text15 {
  height: auto;
}
 
.testimonial9-slider-slide2 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column3 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial9-text16 {
  height: auto;
}
 
.testimonial9-avatar3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text17 {
  font-weight: 600;
}
 
.testimonial9-text18 {
  height: auto;
}
 
.testimonial9-column4 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars4 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial9-text19 {
  height: auto;
}
 
.testimonial9-avatar4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image4 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text20 {
  font-weight: 600;
}
 
.testimonial9-text21 {
  height: auto;
}
 
.testimonial9-slider-pagination1 {
  display: block;
}
 
.testimonial9-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
 
.testimonial9-slider-slide3 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column5 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: 32px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars5 {
  display: flex;
  align-items: center;
}
 
.testimonial9-text22 {
  height: auto;
}
 
.testimonial9-avatar5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image5 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text23 {
  font-weight: 600;
}
 
.testimonial9-text25 {
  height: auto;
}
 
.testimonial9-slider-slide4 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column6 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: 32px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars6 {
  display: flex;
  align-items: center;
}
 
.testimonial9-text27 {
  height: auto;
}
 
.testimonial9-avatar6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image6 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text28 {
  font-weight: 600;
}
 
.testimonial9-text29 {
  height: auto;
}
 
.testimonial9-slider-slide5 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column7 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: 32px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial9-text31 {
  height: auto;
}
 
.testimonial9-avatar7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image7 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text32 {
  font-weight: 600;
}
 
.testimonial9-text33 {
  height: auto;
}
 
.testimonial9-slider-slide6 {
  gap: 32px;
  display: flex;
  padding: 80px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial9-column8 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  padding: 32px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.testimonial9-stars8 {
  display: flex;
  align-items: center;
}
 
.testimonial9-text34 {
  height: auto;
}
 
.testimonial9-avatar8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial9-avatar-image8 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial9-avatar-content8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial9-text35 {
  font-weight: 600;
}
 
.testimonial9-text37 {
  height: auto;
}
 
.testimonial9-slider-pagination2 {
  display: block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text41 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text42 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text43 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .testimonial9-slider1 {
    display: none;
  }
  .testimonial9-slider2 {
    display: flex;
  }
  .testimonial9-slider-slide3 {
    padding: 48px;
    align-self: center;
  }
  .testimonial9-slider-slide4 {
    padding: 48px;
    align-self: center;
  }
  .testimonial9-slider-slide5 {
    padding: 48px;
    align-self: center;
  }
  .testimonial9-slider-slide6 {
    padding: 48px;
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial9-max-width {
    padding: 48px;
  }
  .testimonial9-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial9-slider-slide1 {
    padding: 48px;
  }
  .testimonial9-slider-slide2 {
    padding: 48px;
  }
  .testimonial9-stars7 {
    flex-direction: row;
  }
}
 
@media(max-width: 479px) {
  .testimonial9-max-width {
    padding: 24px;
  }
  .testimonial9-slider-slide1 {
    padding: 24px;
  }
  .testimonial9-slider-slide2 {
    padding: 24px;
  }
  .testimonial9-slider-slide3 {
    padding: 24px;
  }
  .testimonial9-slider-slide4 {
    padding: 24px;
  }
  .testimonial9-slider-slide5 {
    padding: 24px;
  }
  .testimonial9-slider-slide6 {
    padding: 24px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
 
.footer-container1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
 
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container3 {
  display: flex;
  justify-content: space-between;
}
 
.footer-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text12 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text13 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text13:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text14 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text14:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text15 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text15:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-sixunits);
  flex-direction: column;
}
 
.footer-text16 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text17 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text17:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text18 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text18:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text19 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text19:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-sixunits);
  flex-direction: column;
}
 
.footer-text20 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text21 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text21:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text22 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text22:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-text23 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text23:hover {
  color: var(--dl-color-gray-white);
}
 
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .footer-container1 {
    padding: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-container1 {
    flex-direction: column;
  }
  .footer-container2 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
  .footer-container5 {
    margin-left: var(--dl-layout-space-doubleunit);
  }
  .footer-container6 {
    margin-left: var(--dl-layout-space-doubleunit);
  }
}

.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  justify-content: center;
}
 
.home-container11 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-card {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
 
.home-text10 {
  text-align: center;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.home-text11 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.home-text12 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-tripleunit);
}
 
.home-container12 {
  display: flex;
  margin-top: var(--dl-layout-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-container13 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.home-image1 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
 
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.home-container16 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
 
.home-text13 {
  margin-bottom: var(--dl-layout-space-halfunit);
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.home-text14 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unitandahalfunit);
  margin-right: var(--dl-layout-space-unitandahalfunit);
  flex-direction: row;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image2 {
  width: 100%;
  height: 371px;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 3rem;
  margin-right: -3rem;
  border-radius: var(--dl-layout-radius-radius75);
}
 
.home-container19 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image3 {
  top: 88px;
  left: -41px;
  width: 90%;
  height: 467px;
  display: block;
  position: absolute;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: -1.5rem;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-container20 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-triplequarterunit);
  padding-right: var(--dl-layout-space-triplequarterunit);
  flex-direction: column;
}
 
.home-image4 {
  width: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: 8rem;
  object-fit: cover;
  margin-left: -1.5rem;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-container21 {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text41 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text42 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text43 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
 
.home-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  position: absolute;
  object-fit: cover;
}
 
.home-image5 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.home-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
 
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .home-container11 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-container15 {
    max-width: 960px;
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-container16 {
    max-width: 80%;
  }
  .home-text14 {
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-text12 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-image1 {
    display: none;
  }
  .home-container15 {
    max-width: 720px;
  }
  .home-container17 {
    align-items: center;
    flex-direction: column;
  }
  .home-container18 {
    width: 80%;
  }
  .home-image2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-image3 {
    display: none;
  }
  .home-container20 {
    width: 80%;
  }
  .home-image4 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .home-card {
    padding: var(--dl-layout-space-unit);
  }
  .home-container12 {
    align-items: center;
    flex-direction: column;
  }
  .home-container13 {
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
